<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Políticas de Privacidad y Protección de Datos para Navieras</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'images/favicon.jpg' %}">
</head>
<body>
    <h1>Documentos Clave</h1>
    <ul>
        <li><a href="{% static 'documentos/formulario_cotizacion.pdf' %}">Formulario para la Cotización</a></li>
        <li><a href="{% static 'documentos/requisitos_alta.pdf' %}">Requisitos para Causar Alta</a></li>
        <li><a href="{% static 'documentos/revision_documental.pdf' %}">Lista de Verificación Documental (Checklist PBIP)</a></li>
    </ul>
    <img class="image1" src="{% static 'images/gmp.jpg' %}">
</body>
</html>
<footer style="opacity: 0.5; position: fixed; left: 0; bottom: 0; width: 100%; background-color: transparent; color: #272B60; text-align: center;">    
    <div class="footer-content">
      <div class="company-info">
        <h3>Global Maritime Protection</h3>
        <p>Cerro Acasulco 6, Int. G. Col. Romero de Terreros<br>Coyoacán, Ciudad de México, C.P. 04310</p>
      </div>
      <div class="redes-sociales">
          <a href="https://wa.me/5215581073859?text=Hola,%20me%20gustaría%20saber%20más%20sobre%20los%20servicios%20de%20proteccion%20marítima" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp" style="color: black;"></i></a>
          <a href="https://www.facebook.com/GlobalMaritimeProtection/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook" style="color: black;"></i></a>
          <a href="https://www.youtube.com/channel/UCYqT5gXpylQoDRYW25Qgi1Q" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube" style="color: black;"></i></a>
          <a href="https://www.linkedin.com/company/global-maritime-protection/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin" style="color: black;"></i></a>
  
          <!-- Agrega más enlaces e iconos para otras redes sociales según sea necesario -->
      </div>
  
      </div>
    </div>
</footer>
