<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Políticas de Privacidad y Protección de Datos para Navieras</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'images/favicon.jpg' %}">
</head>
<body>
    <h1>Políticas de Privacidad y Protección de Datos para Navieras</h1>

    <h2>Introducción</h2>
    <p>Global Maritime Protection (en adelante, "GMP") está comprometida con la protección de la privacidad y la seguridad de los datos personales de sus clientes, proveedores y empleados. La presente Política de Privacidad y Protección de Datos (en adelante, la "Política") establece los principios y lineamientos que GMP sigue en el tratamiento de los datos personales.</p>

    <h2>Alcance</h2>
    <p>Esta Política aplica a toda la información personal que GMP recolecta, utiliza, almacena, transmite o de cualquier otra forma procesa, ya sea a través de su sitio web, aplicaciones móviles, interacciones con clientes, proveedores o empleados, o cualquier otro medio bajo el control de GMP.</p>

    <h2>¿Qué son los datos personales?</h2>
    <p>Los datos personales se refieren a cualquier información que pueda identificar a una persona física, incluyendo, pero no limitándose a, nombre, dirección, número de teléfono, correo electrónico, datos bancarios, información laboral, historial médico, entre otros.</p>

    <h2>¿Cómo recolectamos datos personales?</h2>
    <p>GMP recolecta datos personales de diversas maneras, incluyendo:</p>
    <ul>
        <li><strong>Información proporcionada voluntariamente:</strong> Cuando usted nos contacta a través de nuestro sitio web, correo electrónico, teléfono o en persona, nos proporciona información personal como su nombre, dirección, correo electrónico, número de teléfono y otros datos relevantes para atender su solicitud o brindarle un servicio.</li>
        <li><strong>Información recopilada automáticamente:</strong> Cuando usted visita nuestro sitio web o utiliza nuestras aplicaciones móviles, podemos recopilar automáticamente cierta información sobre su dispositivo, como su dirección IP, tipo de navegador, sistema operativo, páginas visitadas y tiempo en el sitio. Esta información se utiliza para mejorar la experiencia del usuario y analizar el tráfico del sitio.</li>
        <li><strong>Cookies y tecnologías similares:</strong> Utilizamos cookies y otras tecnologías de seguimiento para almacenar información en su dispositivo y reconocerlo cuando regresa a nuestro sitio web. Las cookies nos permiten mejorar su experiencia de navegación, recordar sus preferencias y ofrecerle contenido personalizado.</li>
    </ul>

    <h2>¿Cómo utilizamos sus datos personales?</h2>
    <p>GMP utiliza sus datos personales para los siguientes propósitos:</p>
    <ul>
        <li>Proporcionar y mejorar nuestros servicios.</li>
        <li>Comunicarnos con usted y enviarle información sobre nuestros servicios, ofertas especiales y eventos.</li>
        <li>Cumplir con obligaciones legales, como leyes fiscales, de privacidad y de protección de datos.</li>
    </ul>

    <h2>¿Con quién compartimos sus datos personales?</h2>
    <p>GMP no compartirá sus datos personales con terceros sin su consentimiento previo, excepto en los casos necesarios para operar nuestro negocio o cumplir con la ley.</p>

    <h2>¿Cómo protegemos sus datos personales?</h2>
    <p>GMP implementa medidas de seguridad técnicas y organizativas para proteger sus datos personales contra el acceso no autorizado, la divulgación, el uso, la alteración, la destrucción o la pérdida accidental.</p>

    <h2>¿Cuánto tiempo conservamos sus datos personales?</h2>
    <p>GMP conservará sus datos personales durante el tiempo que sea necesario para cumplir con los propósitos para los que fueron recopilados, o para cumplir con nuestras obligaciones legales o regulatorias. Una vez que sus datos personales ya no sean necesarios, los eliminaremos de forma segura.</p>

    <h2>¿Cuáles son sus derechos con respecto a sus datos personales?</h2>
    <p>Usted tiene derecho a:</p>
    <ul>
        <li>Acceder a sus datos personales.</li>
        <li>Rectificar sus datos personales.</li>
        <li>Suprimir sus datos personales en determinadas circunstancias.</li>
        <li>Restringir el tratamiento de sus datos personales.</li>
        <li>Oponerse al tratamiento de sus datos personales en determinadas circunstancias.</li>
        <li>Portar sus datos personales en un formato estructurado, de uso común y legible por máquina.</li>
    </ul>
    <p>Para ejercer cualquiera de estos derechos, por favor contacte a GMP utilizando la información proporcionada al final de esta política.</p>
    <img class="image1" src="{% static 'images/gmp.jpg' %}">
</body>
</html>
<footer style="opacity: 0.5; position: fixed; left: 0; bottom: 0; width: 100%; background-color: transparent; color: #272B60; text-align: center;">    
    <div class="footer-content">
      <div class="company-info">
        <h3>Global Maritime Protection</h3>
        <p>Cerro Acasulco 6, Int. G. Col. Romero de Terreros<br>Coyoacán, Ciudad de México, C.P. 04310</p>
      </div>
      <div class="redes-sociales">
          <a href="https://wa.me/5215581073859?text=Hola,%20me%20gustaría%20saber%20más%20sobre%20los%20servicios%20de%20proteccion%20marítima" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp" style="color: black;"></i></a>
          <a href="https://www.facebook.com/GlobalMaritimeProtection/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook" style="color: black;"></i></a>
          <a href="https://www.youtube.com/channel/UCYqT5gXpylQoDRYW25Qgi1Q" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube" style="color: black;"></i></a>
          <a href="https://www.linkedin.com/company/global-maritime-protection/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin" style="color: black;"></i></a>
  
          <!-- Agrega más enlaces e iconos para otras redes sociales según sea necesario -->
      </div>
  
      </div>
    </div>
</footer>
